@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


.App {
    --header_height: 60px;
    font-family: 'Montserrat', sans-serif;
    padding: 30px 70px;

}

.hw {
    background-color: #ffffff;
    border-top : 2px solid #D9D9D9;
    border-bottom: 2px solid #D9D9D9;
    padding: 20px 30px 230px;
}

.hwTitle {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
    margin-top: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}